<div id="banner" class="home">
  <!-- <div class="banner-content"> -->
    <%= image_tag "naming.png", alt:"logo", class:"logobanner" %>
    <p>Une équipe et un savoir-faire à votre service depuis 1976 sur Menton, Roquebrune Cap Martin et environs <br><br> Interventions chez les particuliers et dans les copropriétés <br><br> Devis gratuit</p>
  <!-- </div> -->
</div>

<div class="wrapper">
  <div class="container" id="plomb">
    <div class="flexbox">
      <div class="textcard">
        <h2><%= t(:plomberie) %></h2>
        <p><ul>
          <li>Recherche de fuite</li>
          <li>Dépannage, débouchage</li>
          <li>Réparation et rénovation de salle de bains, sanitaires et cuisines</li>
          <li>Remplacement de cumulus</li>
          <li>Réparation et réfection de canalisation d’eau enterrée, encastrée ou en façade</li>
          <li>Mise aux normes et remplacement de fosse septique</li>
        </ul></p>
      </div>
      <div class="imgcard">
        <%= cl_image_tag("Bourdiec06/plomberie.jpg", alt:"plomberie travaux", class:"imgimgcard") %>
      </div>
    </div>
  </div>
</div>
<div class="container" id="toit">
  <div class="flexbox2">
    <div class="imgcard">
      <%= cl_image_tag("Bourdiec06/toiture3", alt:"toiture neuve Menton", class:"imgimgcard") %>
    </div>
    <div class="textcardright">
      <h2><%= t(:couverture) %></h2>
      <p><ul>
        <li>Réfection de toitures en tuiles plates, romanes ou canal</li>
        <li>Recherche de fuite</li>
        <li>Intervention pour réparation en urgence</li>
        <li>Pose de Velux</li>
        <li>Pose d’isolation sous-toiture ou en comble</li>
        <li>Entretien, contrôle et nettoyage annuel de toiture</li>
      </ul></p>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container" id="zing">
    <div class="flexbox">
      <div class="textcard">
        <h2><%= t(:zinguerie) %></h2>
        <p><ul>
          <li>Intervention en urgence sur zinguerie</li>
          <li>Réalisation de tous travaux en zinc et en plomb</li>
          <li>Réfection de gouttière, d'abergement de cheminée, de chéneau et de terrassons</li>
          <li>Réalisation de solin avec engravure, de noquet</li>
          <li>Fourniture et pose de piques anti-volatiles</li>
        </ul></p>
      </div>
      <div class="imgcard">
        <%= cl_image_tag("Bourdiec06/zinguerie", alt:"zinguerie", class:"imgimgcard") %>
      </div>
    </div>
  </div>
</div>
