<div class="navspace"></div>
  <h1><%= t(:nosrealisations) %></h1>
<div class="wrapper">
  <div class="container">
    <br>
    <h2 style="text-align: center;">Chantiers de références</h2>
    <div class="flexbox">
      <div class="textcard">
        <h3>Chantier 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus illum corrupti animi in, temporibus earum nisi quia possimus voluptate, iure sed perspiciatis cumque accusantium quidem facere, molestiae autem modi magni!</p>
        <br>
        <%= link_to realisations_path, class:"button2 btn" do %>
          <span><%= t(:photos) %></span>
          <svg>
            <polyline class="o1" points="0 0, 300 0, 300 55, 0 55, 0 0"></polyline>
            <polyline class="o2" points="0 0, 300 0, 300 55, 0 55, 0 0"></polyline>
          </svg>
        <% end %>
        <br>
      </div>
      <%= cl_image_tag("Bourdiec06/toiture3", alt:"toiture neuve Menton", class:"imgimgcard") %>
    </div>
    <br>
    <div class="flexbox2">
      <%= cl_image_tag("Bourdiec06/toiture2", alt:"toiture neuve Menton", class:"imgimgcard") %>
      <div class="textcardright">
        <h3>Chantier 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium praesentium expedita similique explicabo voluptatem quam eum beatae molestias ea perspiciatis labore, fuga temporibus odit vero tempore quae debitis dicta quaerat?</p>
        <br>
        <%= link_to realisations_path, class:"button2 btn" do %>
          <span><%= t(:photos) %></span>
          <svg>
            <polyline class="o1" points="0 0, 300 0, 300 55, 0 55, 0 0"></polyline>
            <polyline class="o2" points="0 0, 300 0, 300 55, 0 55, 0 0"></polyline>
          </svg>
        <% end %>
        <br>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <br>
  <h2 style="text-align: center;"><%= t(:plomberie) %></h2>
  <div class="chantierflex">
    <%= cl_image_tag("Bourdiec06/plomberie", alt:"travaux de plomberie", class:"imgimgcard") %>
    <div class='miniflexbox'>
      <div class="textcardright">
        <br>
        <h4>Nom du chantier : Chantier 1</h4>
        <p>Spécificités techniques:
          <ul>
            <li>Spécificité 1</li>
            <li>Spécificité 2</li>
            <li>Spécificité 3</li>
            <li>Spécificité 4</li>
          </ul>
        </p>
      </div>
      <%= link_to realisations_path, class:"button2 btn" do %>
        <span><%= t(:photos) %></span>
        <svg>
          <polyline class="o1" points="0 0, 300 0, 300 55, 0 55, 0 0"></polyline>
          <polyline class="o2" points="0 0, 300 0, 300 55, 0 55, 0 0"></polyline>
        </svg>
      <% end %>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <br>
    <h2 style="text-align: center;"><%= t(:couverture) %></h2>
    <div class="chantierflex" style="background-color:#A9A9A9; ">
      <%= cl_image_tag("Bourdiec06/banniere", alt:"travaux de toiture", class:"imgimgcard") %>
      <div class='miniflexbox'>
        <div class="textcardright">
          <br>
          <h4>Nom du chantier : Chantier 1</h4>
          <p>Spécificités techniques:
            <ul>
              <li>Spécificité 1</li>
              <li>Spécificité 2</li>
              <li>Spécificité 3</li>
              <li>Spécificité 4</li>
            </ul>
          </p>
        </div>
        <%= link_to realisations_path, class:"button2 btn" do %>
          <span><%= t(:photos) %></span>
          <svg>
            <polyline class="o1" points="0 0, 300 0, 300 55, 0 55, 0 0"></polyline>
            <polyline class="o2" points="0 0, 300 0, 300 55, 0 55, 0 0"></polyline>
          </svg>
        <% end %>
      </div>
    </div>
    <div class="chantierflex" style="background-color:#A9A9A9; ">
      <%= cl_image_tag("Bourdiec06/toiture2", alt:"travaux de toiture", class:"imgimgcard") %>
      <div class='miniflexbox'>
        <div class="textcardright">
          <br>
          <h4>Nom du chantier : Chantier 2</h4>
          <p>Spécificités techniques:
            <ul>
              <li>Spécificité 1</li>
              <li>Spécificité 2</li>
              <li>Spécificité 3</li>
              <li>Spécificité 4</li>
            </ul>
          </p>
        </div>
        <%= link_to realisations_path, class:"button2 btn" do %>
          <span><%= t(:photos) %></span>
          <svg>
            <polyline class="o1" points="0 0, 300 0, 300 55, 0 55, 0 0"></polyline>
            <polyline class="o2" points="0 0, 300 0, 300 55, 0 55, 0 0"></polyline>
          </svg>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <br>
  <h2 style="text-align: center;"><%= t(:zinguerie) %></h2>
  <div class="chantierflex">
    <%= cl_image_tag("Bourdiec06/zinguerie", alt:"travaux de zinguerie", class:"imgimgcard") %>
    <div class='miniflexbox'>
      <div class="textcardright">
        <br>
        <h4>Nom du chantier : Chantier 1</h4>
        <p>Spécificités techniques:
          <ul>
            <li>Spécificité 1</li>
            <li>Spécificité 2</li>
            <li>Spécificité 3</li>
            <li>Spécificité 4</li>
          </ul>
        </p>
      </div>
      <%= link_to realisations_path, class:"button2 btn" do %>
        <span><%= t(:photos) %></span>
        <svg>
          <polyline class="o1" points="0 0, 300 0, 300 55, 0 55, 0 0"></polyline>
          <polyline class="o2" points="0 0, 300 0, 300 55, 0 55, 0 0"></polyline>
        </svg>
      <% end %>
    </div>
  </div>
  <div class="chantierflex">
    <%= cl_image_tag("Bourdiec06/toiture3", alt:"travaux de zinguerie", class:"imgimgcard") %>
    <div class='miniflexbox'>
      <div class="textcardright">
        <br>
        <h4>Nom du chantier : Chantier 2</h4>
        <p>Spécificités techniques:
          <ul>
            <li>Spécificité 1</li>
            <li>Spécificité 2</li>
            <li>Spécificité 3</li>
            <li>Spécificité 4</li>
          </ul>
        </p>
      </div>
      <%= link_to realisations_path, class:"button2 btn" do %>
        <span><%= t(:photos) %></span>
        <svg>
          <polyline class="o1" points="0 0, 300 0, 300 55, 0 55, 0 0"></polyline>
          <polyline class="o2" points="0 0, 300 0, 300 55, 0 55, 0 0"></polyline>
        </svg>
      <% end %>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <p></p>
    <br>
  </div>
</div>
